.App {
  max-width: 700px;
  margin: 20px auto;
}
.App h1,
.App h2,
.App h3,
.App h4 {
  font-family: "Lora", serif;
  color: #fff;
  opacity: 80%;
}
.App footer {
  text-align: center;
  font-size: 15px;
}
