.Weather {
  border-radius: 30px;
  border: solid 2px rgba(17, 13, 13, 0.5);
  background: linear-gradient(to top, #e9dbd6 0%, #ace0f9 100%);
}
.Weather .info {
  text-align: center;
}
.Weather h2 {
  font-size: 20px;
}
.Weather h3 {
  font-size: 90px;
  padding: 0;
  margin: 0;
}

.Weather h3 small {
  position: relative;
  top: -45px;
  right: 1px;
  font-size: 25px;
}
.Weather h4.details,
.Weather h4.temperatures,
.Weather h4.humidity,
.Weather h4.wind {
  font-size: 19px;
}
.Weather h4.condition {
  text-transform: capitalize;
}
.Weather h4.dayForecast {
  font-size: 20px;
  padding-left: 20px;
}
.Weather .maintemp {
  padding: 0;
}
.Weather .extraInformation {
  padding: 12px 0;
  text-align: left;
}
.Weather .mainIcon {
  display: block;
  width: 160px;
  scale: 130%;
  margin: 0 auto;
}

.Weather .seekBlock {
  margin: 10px;
}

.Weather .searchBar {
  border-radius: 15px;
  background: none;
  outline: none;
  float: left;
  color: #060606;
  font-size: 16px;
  line-height: 29px;
  background-color: #fff;
  border: #fff;
}
.Weather .searchButton img {
  width: 25px;
  position: relative;
  bottom: 5px;
}
.Weather .location {
  display: block;
  text-align: right;
}
.Weather .refresh {
  display: block;
  transition: all 100ms ease;
}
.Weather .refresh:hover {
  opacity: 40%;
  cursor: pointer;
}

.Weather hr {
  color: #fff;
  margin: 6px 0;
}
